<%= simple_form_for @dog do |f| %>
 <fieldset>
<div class="form-group text-center">
<div class="col-md-8 col-lg-offset-2">
    <%= f.input :name, :input_html => { class: "form-control" }%>
  </div>
    </div>
  <div class="form-group text-center">
  <div class="col-md-8 col-lg-offset-2">
      <%= f.input :description, as: :text, :input_html => { class: "form-control" }%>
  </div>
    </div>
  <div class="form-group text-center">
  <div class="col-md-8 col-lg-offset-2">
      <%= f.input :image, as: :file, :input_html => { :multiple => true }, name: "post_attachments[media][]" %>
  </div>
  </div>


 <% if @dog.images.any? %>
    <% (0...@dog.images.count).each do |imgage| %>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <article class='img-responsive'>
        <div class='img-thumbnail'>
          <%= image_tag(@dog.images[imgage], class: 'dog-photo') %>
        </div>
      </article>
  </div>
    <% end %>
  <% end %>


<div class="form-group text-center">
  <div class="col-md-8">
  <%= f.button :submit, class: "btn btn-primary btn-lg col-lg-offset-6"%>
    </div>
    </div>
<% end %>


 </fieldset>